.about-banner {
    margin-bottom: 200px;
    margin-top: 100px;
    @media only screen and (max-width: $max-width-1600) {
        margin-bottom: 80px;
    }
    @media only screen and (max-width: $max-width-lg) {
        margin-bottom: 50px;
    }
    &__inner {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fdefe8+1,fdefe8+13,fdefe8+23,f9eeea+35,e8eaed+45,dae9f0+56,bde3f5+68,a9dff9+80,a1dcfb+92,afe0fc+100 */
        background: rgb(253, 239, 232);
        /* Old browsers */
        background: -moz-linear-gradient(-45deg, rgba(253, 239, 232, 1) 1%, rgba(253, 239, 232, 1) 13%, rgba(253, 239, 232, 1) 23%, rgba(249, 238, 234, 1) 35%, rgba(232, 234, 237, 1) 45%, rgba(218, 233, 240, 1) 56%, rgba(189, 227, 245, 1) 68%, rgba(169, 223, 249, 1) 80%, rgba(161, 220, 251, 1) 92%, rgba(175, 224, 252, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(253, 239, 232, 1) 1%, rgba(253, 239, 232, 1) 13%, rgba(253, 239, 232, 1) 23%, rgba(249, 238, 234, 1) 35%, rgba(232, 234, 237, 1) 45%, rgba(218, 233, 240, 1) 56%, rgba(189, 227, 245, 1) 68%, rgba(169, 223, 249, 1) 80%, rgba(161, 220, 251, 1) 92%, rgba(175, 224, 252, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(253, 239, 232, 1) 1%, rgba(253, 239, 232, 1) 13%, rgba(253, 239, 232, 1) 23%, rgba(249, 238, 234, 1) 35%, rgba(232, 234, 237, 1) 45%, rgba(218, 233, 240, 1) 56%, rgba(189, 227, 245, 1) 68%, rgba(169, 223, 249, 1) 80%, rgba(161, 220, 251, 1) 92%, rgba(175, 224, 252, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
        .big__heading {
            @media only screen and (max-width: $max-width-mob) {
                margin-left: -10px;
            }
        }
        .col-md-6 {
            @media only screen and (max-width: $max-width-mob) {
                margin-bottom: 20px;
                text-align: center;
            }
        }
    }
}

.about-team-slider {
    margin-bottom: 200px;
    @media only screen and (max-width: $max-width-1600) {
        margin-bottom: 80px;
    }
    @media only screen and (max-width: $max-width-mob) {
        text-align: center;
        margin-bottom: 50px;
    }
    &-tabs {
        padding: 0 115px;
        margin-bottom: 20px;
        @media only screen and (max-width: $max-width-lg) {
            padding: 0 65px;
        }
        @media only screen and (max-width: $max-width-sm) {
            margin-bottom: 40px;
            padding: 0;
        }
    }
    &__tab-nav.nav {
        margin-top: 0;
        @media only screen and (max-width: $max-width-sm) {
            justify-content: flex-start;
        }
        @media only screen and (max-width: $max-width-mob) {
            justify-content: center;
            padding: 0;
        }
        .nav-item {
            width: auto;
            position: relative;
            @media only screen and (max-width: $max-width-sm) {
                text-decoration: none !important;
                &:first-child {
                    margin-left: 0;
                }
            }
            @media only screen and (max-width: 479px) {
                font-size: 16px;
                letter-spacing: 1.1px;
                margin: 0 7px;
            }
            @media only screen and (max-width: 400px) {
                letter-spacing: 0;
            }
            @media only screen and (max-width: 359px) {
                font-size: 14px;
                margin: 0 6px;
            }
            &:after {
                content: '';
                height: 7px;
                width: 100%;
                background-color: transparent;
                border-radius: 10px;
                position: absolute;
                left: 0;
                bottom: -10px;
                @media only screen and (max-width: $max-width-1600) {
                    bottom: -6px;
                    height: 5px;
                }
            }
            &.active:after {
                background-color: #5eab41;
            }
        }
    }
    &__inner {
        &__main {
            padding: 0 115px;
            padding-bottom: 60px;
            @media only screen and (max-width: $max-width-lg) {
                padding: 0 65px;
            }
            @media only screen and (max-width: $max-width-mob) {
                padding: 0;
                .swiper-button-next,
                .swiper-button-prev {
                    top: 115px;
                }
                .swiper-button-next {
                    right: -10px;
                }
                .swiper-button-prev {
                    left: -10px;
                }
            }
            &__single {
                &__image {
                    display: inline-block;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 5px solid #5eab41;
                    @media only screen and (max-width: $max-width-mob) {
                        height: 210px;
                        width: 210px;
                    }
                }
                &__info {
                    h2 {
                        font-size: 36px;
                        color: #5eab41;
                        font-family: $heading-font;
                        text-transform: uppercase;
                        line-height: 40px;
                        @media only screen and (max-width: $max-width-1600) {
                            font-size: 30px;
                            line-height: 1;
                        }
                        @media only screen and (max-width: $max-width-lg) {
                            font-size: 24px;
                        }
                        @media only screen and (max-width: $max-width-mob) {
                            font-size: 18px;
                            margin-top: 20px;
                            margin-bottom: 20px;
                            line-height: 1.2;
                        }
                        span {
                            font-size: 22px;
                            @media only screen and (max-width: $max-width-1600) {
                                font-size: 18px;
                            }
                            @media only screen and (max-width: $max-width-lg) {
                                font-size: 16px;
                            }
                            @media only screen and (max-width: $max-width-mob) {
                                font-size: 14px;
                            }
                        }
                    }
                    p {
                        color: #29284a;
                        @media only screen and (max-width: $max-width-mob) {
                            font-size: 14px;
                        }
                    }
                }
            }
            .swiper {
                &-pagination-bullet-active {
                    background-color: #5eab41;
                }
            }
        }
        &__thumb {
            &__single {
                text-align: center;
                img {
                    display: inline-block;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 5px solid transparent;
                    width: 158px;
                    height: 158px;
                    @media only screen and (max-width: $max-width-1600) {
                        width: 130px;
                        height: 130px;
                    }
                    @media only screen and (max-width: $max-width-lg) {
                        width: 110px;
                        height: 110px;
                        min-width: 110px;
                    }
                    @media only screen and (max-width: $max-width-mob) {
                        width: 70px;
                        height: 70px;
                        min-width: 70px;
                        border: 2px solid transparent;
                    }
                }
                span {
                    display: block;
                    font-size: 20px;
                    color: #232324;
                    line-height: 30px;
                    font-weight: $bold-font;
                    margin-top: 25px;
                    @media only screen and (max-width: $max-width-1600) {
                        font-size: 18px;
                        line-height: 24px;
                        margin-top: 15px;
                    }
                    @media only screen and (max-width: $max-width-lg) {
                        font-size: 16px;
                        line-height: 20px;
                        margin-top: 10px;
                    }
                    @media only screen and (max-width: $max-width-mob) {
                        font-size: 12px;
                        line-height: 16px;
                        margin-top: 5px;
                    }
                }
            }
            .swiper-slide-thumb-active {
                .about-team-slider__inner__thumb__single img {
                    border-color: #5eab41;
                }
            }
        }
    }
}

.about-investors {
    padding-top: 185px;
    margin-bottom: 185px;
    border-top-left-radius: 130px;
    border-top-right-radius: 130px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fdf0ea+0,fdf1ec+16,fdf2ee+25,fdf5f3+39,fefafa+50,fefdfd+64,fefdfd+64,fffefe+79,ffffff+100 */
    background: rgb(253, 240, 234);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(253, 240, 234, 1) 0%, rgba(253, 241, 236, 1) 16%, rgba(253, 242, 238, 1) 25%, rgba(253, 245, 243, 1) 45%, rgba(254, 250, 250, 1) 55%, rgba(254, 253, 253, 1) 64%, rgba(254, 253, 253, 1) 64%, rgba(255, 254, 254, 1) 79%, rgba(255, 255, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(253, 240, 234, 1) 0%, rgba(253, 241, 236, 1) 16%, rgba(253, 242, 238, 1) 25%, rgba(253, 245, 243, 1) 45%, rgba(254, 250, 250, 1) 55%, rgba(254, 253, 253, 1) 64%, rgba(254, 253, 253, 1) 64%, rgba(255, 254, 254, 1) 79%, rgba(255, 255, 255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(253, 240, 234, 1) 0%, rgba(253, 241, 236, 1) 16%, rgba(253, 242, 238, 1) 25%, rgba(253, 245, 243, 1) 45%, rgba(254, 250, 250, 1) 55%, rgba(254, 253, 253, 1) 64%, rgba(254, 253, 253, 1) 64%, rgba(255, 254, 254, 1) 79%, rgba(255, 255, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    @media only screen and (max-width: $max-width-1600) {
        padding-top: 80px;
        margin-bottom: 80px;
    }
    @media only screen and (max-width: $max-width-lg) {
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
        padding: 50px 0 0;
        margin-bottom: 50px;
    }
    @media only screen and (max-width: $max-width-mob) {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    .investors {
        &__inner {
            &__members {
                &__slider {
                    .col-md-2 {
                        @media only screen and (max-width: $max-width-mob) {
                            width: calc(100% / 4);
                            padding: 0 5px;
                        }
                    }
                    &__single {
                        margin-bottom: 65px;
                        text-align: center;
                        @media only screen and (max-width: $max-width-1600) {
                            margin-bottom: 40px;
                        }
                        @media only screen and (max-width: $max-width-mob) {
                            text-align: center;
                        }
                        img {
                            display: inline-block;
                            border-radius: 50%;
                            overflow: hidden;
                            width: 158px;
                            height: 158px;
                            @media only screen and (max-width: $max-width-1600) {
                                width: 130px;
                                height: 130px;
                            }
                            @media only screen and (max-width: 990px) {
                                width: 90px;
                                height: 90px;
                            }
                            @media only screen and (max-width: $max-width-mob) {
                                width: 110px;
                                height: 110px;
                            }
                            @media only screen and (max-width: 576px) {
                                width: 90px;
                                height: 90px;
                            }
                            @media only screen and (max-width: 480px) {
                                width: 75px;
                                height: 75px;
                            }
                            @media only screen and (max-width: 420px) {
                                width: 60px;
                                height: 60px;
                            }
                            @media only screen and (max-width: 359px) {
                                width: 50px;
                                height: 50px;
                            }
                        }
                        span {
                            display: block;
                            font-size: 20px;
                            color: #232324;
                            line-height: 30px;
                            font-weight: $bold-font;
                            margin-top: 25px;
                            @media only screen and (max-width: $max-width-1600) {
                                font-size: 18px;
                                line-height: 24px;
                                margin-top: 15px;
                            }
                            @media only screen and (max-width: $max-width-1600) {
                                font-size: 12px;
                                line-height: 16px;
                                margin-top: 10px;
                            }
                        }
                    }
                    .swiper {
                        &-pagination-bullet {
                            height: 7px;
                            width: 210px;
                            border-radius: 10px;
                            margin: 0 20px;
                            @media only screen and (max-width: $max-width-mob) {
                                height: 4px;
                                width: 70px;
                                border-radius: 6px;
                                margin: 0 7px;
                            }
                            &-active {
                                background-color: #232324;
                            }
                        }
                    }
                }
            }
        }
    }
    .swiper-pagination {
        position: relative;
        margin-top: 150px;
        @media only screen and (max-width: $max-width-1600) {
            margin-top: 60px;
        }
        @media only screen and (max-width: $max-width-lg) {
            margin-top: 40px;
        }
        @media only screen and (max-width: $max-width-sm) {
            margin-top: 30px;
        }
        @media only screen and (max-width: $max-width-mob) {
            margin-top: 15px;
        }
    }
}