.blog-banner__inner__slider {
    &__main {
        background-image: url('../images/blog-banner.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 650px;
        border-radius: 80px;
        padding: 0 220px;
        display: flex;
        align-items: center;
        &__title {
            font-size: 60px;
            color: #fff;
            font-family: $heading-font;
            max-width: 500px;
            line-height: 82px;
        }
    }
    .swiper {
        &-pagination-bullet {
            background-color: #827b50;
            &-active {
                background-color: #fff;
            }
        }
        &-button-next {
            background-position-y: calc(-26px * 3);
            right: 45px;
        }
        &-button-prev {
            background-position-y: calc(-26px * 3);
            left: 45px;
        }
    }
}

.blog-popular {
    padding-bottom: 30px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f7fcfe+0,f6fbfe+10,f3fafe+21,eff9fe+33,edf8fd+50,dceffa+74,d7ecf7+99 */
    background: rgb(247, 252, 254);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(247, 252, 254, 1) 0%, rgba(246, 251, 254, 1) 10%, rgba(243, 250, 254, 1) 21%, rgba(239, 249, 254, 1) 33%, rgba(237, 248, 253, 1) 50%, rgba(220, 239, 250, 1) 74%, rgba(215, 236, 247, 1) 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(247, 252, 254, 1) 0%, rgba(246, 251, 254, 1) 10%, rgba(243, 250, 254, 1) 21%, rgba(239, 249, 254, 1) 33%, rgba(237, 248, 253, 1) 50%, rgba(220, 239, 250, 1) 74%, rgba(215, 236, 247, 1) 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(247, 252, 254, 1) 0%, rgba(246, 251, 254, 1) 10%, rgba(243, 250, 254, 1) 21%, rgba(239, 249, 254, 1) 33%, rgba(237, 248, 253, 1) 50%, rgba(220, 239, 250, 1) 74%, rgba(215, 236, 247, 1) 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    &__title {
        font-size: 48px;
        color: #0178e6;
        font-family: $heading-font;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 50px;
        padding-top: 80px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -30px;
    }
    &__single {
        display: flex;
        width: calc(100% / 3);
        padding: 0 30px;
        margin-bottom: 25px;
        &__image {
            width: 155px;
            flex-shrink: 0
        }
        &__content {
            padding-left: 30px;
            h2 {
                font-size: 20px;
                font-weight: $bold-font;
                color: #3a3939;
                line-height: 32px;
                text-transform: uppercase;
            }
            p {
                color: #29284a;
                font-size: 18px;
                line-height: 28px;
                margin-top: 10px;
            }
            .read-more {
                color: #000f16;
            }
        }
    }
}

.blog-listing {
    padding: 120px 0;
    &__options {
        display: flex;
        justify-content: space-between;
        &__search,
        &__signup {
            flex: 1;
            max-width: 450px;
        }
    }
    &__tags {
        display: flex;
        margin-top: 120px;
        &__listing {
            flex: 1;
            display: flex;
            justify-content: space-between;
            &__single {
                text-align: center;
                max-width: calc(100% / 7);
                img {
                    display: inline-block;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 5px solid transparent;
                    height: 130px;
                    width: 130px;
                }
                span {
                    display: block;
                    font-size: 20px;
                    line-height: 30px;
                    margin-top: 27px;
                    text-transform: uppercase;
                    font-weight: 400;
                }
                &.active {
                    span {
                        font-weight: $bold-font;
                        color: #454546;
                        font-size: 22px;
                    }
                }
            }
        }
        &__show--more {
            margin-top: 50px;
            a span {
                font-size: 20px;
                font-weight: $bold-font;
                text-decoration: underline;
                color: #dd4031;
                letter-spacing: 1px;
                text-transform: uppercase;
                margin-left: 45px;
            }
        }
    }
    &__articles {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0 80px;
        &__single {
            width: calc(100% / 3);
            margin-bottom: 85px;
            &__inner {
                max-width: 420px;
                margin: auto;
                h2 {
                    font-weight: $bold-font;
                    font-size: 20px;
                    color: #3a3939;
                    text-transform: uppercase;
                    margin-top: 25px;
                }
                p {
                    color: #29284a;
                    margin-bottom: 10px;
                    line-height: 28px;
                    font-size: 18px;
                    letter-spacing: 1px;
                }
                .read-more {
                    color: #dd4031;
                }
            }
            &:nth-child(3n+1) &__inner {
                margin-left: 0;
            }
            &:nth-child(3n) &__inner {
                margin-right: 0;
            }
        }
    }
}

.blog-detail {
    &-banner__inner {
        padding: 0 110px;
        margin: 100px 0;
        position: relative;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fffef8+0,fffef6+15,fffdef+32,fffdea+50,fffbdf+68,fffbdc+100 */
        background: rgb(255, 254, 248);
        /* Old browsers */
        background: -moz-linear-gradient(top, rgba(255, 254, 248, 1) 0%, rgba(255, 254, 246, 1) 15%, rgba(255, 253, 239, 1) 32%, rgba(255, 253, 234, 1) 50%, rgba(255, 251, 223, 1) 68%, rgba(255, 251, 220, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 254, 248, 1) 0%, rgba(255, 254, 246, 1) 15%, rgba(255, 253, 239, 1) 32%, rgba(255, 253, 234, 1) 50%, rgba(255, 251, 223, 1) 68%, rgba(255, 251, 220, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 254, 248, 1) 0%, rgba(255, 254, 246, 1) 15%, rgba(255, 253, 239, 1) 32%, rgba(255, 253, 234, 1) 50%, rgba(255, 251, 223, 1) 68%, rgba(255, 251, 220, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        &__image {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            left: 110px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            max-width: 620px;
        }
        &__content-wrapper {
            padding: 60px 0;
        }
        &__content {
            max-width: 800px;
            margin-left: auto;
            &__tag {
                font-size: 27px;
                font-weight: $light-font;
                color: #222222;
                letter-spacing: 1px;
            }
            &__title {
                font-size: 52px;
                color: #222222;
                font-family: $heading-font;
                letter-spacing: 1px;
                margin-top: 15px;
                line-height: 58px;
            }
            &__date {
                font-size: 18px;
                color: #010101;
                font-weight: $bold-font;
                margin-bottom: 50px;
            }
            p {
                font-size: 20px;
                color: #010101;
            }
            .read-more {
                color: #5eab41;
                display: inline-block;
                margin-top: 20px;
            }
        }
    }
}

.blog-detail-content {
    .text-content {
        padding: 0 230px;
        a.anchor-link {
            display: inline-block;
            margin-top: 50px;
            margin-bottom: 100px;
        }
    }
}

.blog-detail {
    &-recommended {
        padding-top: 185px;
        padding-bottom: 80px;
        border-top-left-radius: 130px;
        border-top-right-radius: 130px;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fae2e2+0,fbe6e3+15,fbe9e5+25,fcecec+39,fcecec+50,ffffff+75,ffffff+75,ffffff+78,ffffff+100 */
        background: rgb(250, 226, 226);
        /* Old browsers */
        background: -moz-linear-gradient(top, rgba(250, 226, 226, 1) 0%, rgba(251, 230, 227, 1) 15%, rgba(251, 233, 229, 1) 25%, rgba(252, 236, 236, 1) 39%, rgba(252, 236, 236, 1) 50%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 78%, rgba(255, 255, 255, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(250, 226, 226, 1) 0%, rgba(251, 230, 227, 1) 15%, rgba(251, 233, 229, 1) 25%, rgba(252, 236, 236, 1) 39%, rgba(252, 236, 236, 1) 50%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 78%, rgba(255, 255, 255, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(250, 226, 226, 1) 0%, rgba(251, 230, 227, 1) 15%, rgba(251, 233, 229, 1) 25%, rgba(252, 236, 236, 1) 39%, rgba(252, 236, 236, 1) 50%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 78%, rgba(255, 255, 255, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        .radius-section-title {
            margin-bottom: 0;
        }
        .recommended__inner__cards.blog-listing {
            padding: 0;
        }
        .blog-listing__articles {
            margin: 0;
        }
    }
    &-signup {
        margin: 50px 0;
        .blog-listing__options__signup {
            margin: auto;
        }
    }
}

.text-content__image {
    position: relative;
}
.text-content__share {
    position: absolute;
    top: 50%;
    right: -75px;
    display: flex;
    flex-direction: column;
    transform: translatey(-50%);
    height: 50px;
    overflow: hidden;
    transition: 0.3s all ease-in-out;
    &:hover {
        height: 250px;
    }
    &__icon {
        background-image: url('../images/icons-sprite.png');
        background-repeat: no-repeat;
        display: inline-block;
        margin: 10px 0;
        width: 36px;
        height: 30px;
        background-position-x: -51px;
        flex-shrink: 0;
        &:hover {
            background-position-x: -84px;
        }
        &.icon--share {             
            background-position-y: 0;
            &:hover {
                background-position-x: -51px;
            }
        }
        &.icon--fb {
 
            background-position-y: -33px;
        }
        &.icon--instagram { 
            background-position-y: -65px;

        }
        &.icon--twitter {
            background-position-y: -96px;

        }
        &.icon--youtube {
            background-position-y: -130px;

        }
    }

    

}