.faq-banner {
    &__inner {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c8c9fb+0,c6c9fb+17,c6cdfb+34,c6d8fb+50,c6d8f8+63,bfd5f9+82,b2cef8+100 */
        background: rgb(200, 201, 251);
        /* Old browsers */
        background: -moz-linear-gradient(left, rgba(200, 201, 251, 1) 0%, rgba(198, 201, 251, 1) 17%, rgba(198, 205, 251, 1) 34%, rgba(198, 216, 251, 1) 50%, rgba(198, 216, 248, 1) 63%, rgba(191, 213, 249, 1) 82%, rgba(178, 206, 248, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(200, 201, 251, 1) 0%, rgba(198, 201, 251, 1) 17%, rgba(198, 205, 251, 1) 34%, rgba(198, 216, 251, 1) 50%, rgba(198, 216, 248, 1) 63%, rgba(191, 213, 249, 1) 82%, rgba(178, 206, 248, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(200, 201, 251, 1) 0%, rgba(198, 201, 251, 1) 17%, rgba(198, 205, 251, 1) 34%, rgba(198, 216, 251, 1) 50%, rgba(198, 216, 248, 1) 63%, rgba(191, 213, 249, 1) 82%, rgba(178, 206, 248, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        @media only screen and (min-width: $max-width-1600) {
            padding: 110px 40px;
        }
        form {
            max-width: 1200px;
            margin: 50px auto 0;
            @media only screen and (max-width: $max-width-1600) {
                margin: 30px auto 0;
            }
            @media only screen and (max-width: $max-width-sm) {
                margin: 25px auto 0;
            }
            input {
                &::-webkit-input-placeholder,
                &:-ms-input-placeholder,
                &::placeholder {
                    font-size: 18px;
                    font-style: italic;
                    color: #40444c;
                }
                @media only screen and (max-width: $max-width-1600) {
                    &::-webkit-input-placeholder,
                    &:-ms-input-placeholder,
                    &::placeholder {
                        font-size: 14px;
                        font-style: italic;
                        color: #40444c;
                    }
                }
            }
        }
    }
}

.faqs--content .content-page__inner__sidebar .nav {
    top: 40px;
}