body {
    font-family: $primary-font;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.64;
    letter-spacing: 2.25px;
    overflow-x: hidden;
    @media only screen and (max-width: $max-width-1600) {
        font-size: 18px;
        letter-spacing: 1.5px;
    }
    @media only screen and (max-width: $max-width-lg) {
        font-size: 16px;
        letter-spacing: 1.2px;
    }
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

a:hover {
    text-decoration: none;
}

.goqii-btn-primary {
    height: 51px;
    padding: 0 38px;
    font-size: 21px;
    display: inline-flex;
    font-weight: bold;
    border: solid 1px #3a3939;
    line-height: 51px;
    letter-spacing: 2.05px;
    text-align: center;
    color: #3a3939;
    text-transform: uppercase;
    @media only screen and (max-width: $max-width-1600) {
        font-size: 18px;
        padding: 0 25px;
    }
    @media only screen and (max-width: $max-width-lg) {
        font-size: 16px;
        padding: 0 15px;
        line-height: 40px;
        height: 40px;
        letter-spacing: 1.5px;
    }
    @media only screen and (max-width: $max-width-mob) {
        font-size: 12px;
        padding: 0 20px;
        line-height: 28px;
        height: 28px;
        letter-spacing: 1px;
    }
    &:hover {
        color: #3a3939;
        text-decoration: none;
    }
    &--small {
        height: 40px;
        line-height: 40px;
        font-size: 15px;
        letter-spacing: 1.55px;
        padding: 0 10px;
        @media only screen and (max-width: $max-width-1600) {
            font-size: 14px;
        }
    }
    &--blue {
        color: #2185f4;
        border: solid 1px #2185f4;
    }
    &--red {
        color: #e22016;
        border: solid 1px #e22016;
    }
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    margin: 0 6px;
}

.swiper-button {
    &-prev {
        height: 26px;
        width: 51px;
        background-image: url('../images/icons-sprite.png');
        transform: translateY(-50%) rotate( 180deg);
        margin-top: 0;
        background-repeat: no-repeat;
        &:after {
            content: '';
        }
        @media only screen and (max-width: $max-width-1600) {
            transform: translateY(-50%) rotate( 180deg) scale(0.8);
        }
        @media only screen and (max-width: $max-width-mob) {
            transform: translateY(-50%) rotate( 180deg) scale(0.5);
            left: 0;
        }
    }
    &-next {
        height: 26px;
        width: 51px;
        background-image: url('../images/icons-sprite.png');
        background-repeat: no-repeat;
        margin-top: 0;
        transform: translateY(-50%);
        &:after {
            content: '';
        }
        @media only screen and (max-width: $max-width-1600) {
            transform: translateY(-50%) scale(0.8);
        }
        @media only screen and (max-width: $max-width-mob) {
            transform: translateY(-50%) scale(0.5);
            right: 0;
        }
    }
}

.big__heading {
    font-family: "Acumin Pro Bold";
    font-size: 175px;
    color: #fff;
    position: relative;
    z-index: 1;
    margin-bottom: 80px;
    letter-spacing: 35px;
    margin-left: -8px;
    line-height: 0.99;
    text-transform: uppercase;
    @media only screen and (max-width: $max-width-1600) {
        font-size: 110px;
        letter-spacing: 25px;
        margin-bottom: 20px;
    }
    @media only screen and (max-width: $max-width-lg) {
        font-size: 80px;
        letter-spacing: 20px;
    }
    @media only screen and (max-width: $max-width-sm) {
        font-size: 60px;
        letter-spacing: 10px;
    }
    @media only screen and (max-width: $max-width-mob) {
        font-size: 50px;
        letter-spacing: 11.6px;
        margin-left: -3px;
    }
    @media only screen and (max-width: $max-width-small-mob) {
        font-size: 40px;
        letter-spacing: 5px;
    }
}

input {
    width: 100%;
}

button {
    border: none;
    cursor: pointer;
}

input,
button {
    border: 0;
    padding-bottom: 10px;
    outline: none;
    border-bottom: 1px solid #212717;
    @media only screen and (max-width: $max-width-sm) {
        padding-bottom: 5px;
    }
    &:focus {
        outline: none;
    }
    &::-webkit-input-placeholder {
        /* Edge */
        font-size: 14px;
        color: #5a5a5a;
    }
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-size: 14px;
        color: #5a5a5a;
    }
    &::placeholder {
        font-size: 14px;
        color: #5a5a5a;
    }
}

.form-field {
    padding-bottom: 35px;
    @media only screen and (max-width: $max-width-1600) {
        padding-bottom: 25px;
    }
    &__search {
        position: relative;
        display: flex;
    }
    &__signup {
        position: relative;
        display: flex;
        button {
            font-weight: $bold-font;
            color: #252625;
            font-size: 14px;
            white-space: nowrap;
            @media only screen and (max-width: $max-width-mob) {
                font-size: 12px;
            }
        }
    }
    &__message {
        position: absolute;
        font-size: 18px;
        color: #dd4031;
        bottom: 0;
        font-weight: $bold-font;
        text-transform: uppercase;
        letter-spacing: 1px;
        @media only screen and (max-width: $max-width-1600) {
            font-size: 16px;
        }
        @media only screen and (max-width: $max-width-sm) {
            font-size: 14px;
        }
    }
}

.read-more {
    font-size: 20px;
    color: #000f16;
    font-weight: $bold-font;
    text-decoration: underline;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    @media only screen and (max-width: $max-width-1600) {
        font-size: 16px;
        letter-spacing: inherit;
    }
    @media only screen and (max-width: $max-width-small-mob-375) {
        font-size: 12px;
    }
    &:hover {
        text-decoration: underline;
    }
}

.pagination {
    justify-content: center;
    align-items: center;
    li {
        margin: 0 20px;
        @media only screen and (max-width: $max-width-1600) {
            margin: 0 10px;
        }
        a {
            font-weight: $bold-font;
            color: #3a3939;
            font-size: 24px;
            @media only screen and (max-width: $max-width-1600) {
                font-size: 18px;
            }
            &:hover {
                color: #dd4031;
            }
        }
        &.active a {
            color: #dd4031;
        }
    }
    &__prev a {
        height: 26px;
        width: 51px;
        background-image: url(../images/icons-sprite.png);
        background-repeat: no-repeat;
        margin-top: 0;
        transform: rotate(180deg);
        background-position-y: -26px;
        vertical-align: middle;
        display: inline-block;
        @media only screen and (max-width: $max-width-1600) {
            transform: rotate(180deg) scale(0.8);
        }
    }
    &__next a {
        height: 26px;
        width: 51px;
        background-image: url(../images/icons-sprite.png);
        background-repeat: no-repeat;
        margin-top: 0;
        background-position-y: -26px;
        vertical-align: middle;
        display: inline-block;
        @media only screen and (max-width: $max-width-1600) {
            transform: scale(0.8);
        }
    }
}

.share-icons__wrapper {
    display: flex;
    width: 36px;
    overflow: hidden;
    transition: 0.8s all ease-in-out;
    &:hover {
        width: 100%
    }
    &__icon {
        background-image: url('../images/icons-sprite.png');
        background-repeat: no-repeat;
        display: inline-block;
        margin: 10px 10px 20px 0;
        width: 36px;
        height: 30px;
        background-position-x: -51px;
        flex-shrink: 0;
        &:hover {
            background-position-x: -84px;
        }
        &.icon--share {
            background-position-y: 0;
            &:hover {
                background-position-x: -51px;
            }
        }
        &.icon--fb {
            background-position-y: -33px;
        }
        &.icon--instagram {
            background-position-y: -65px;
        }
        &.icon--twitter {
            background-position-y: -96px;
        }
        &.icon--youtube {
            background-position-y: -127px;
        }
    }
}

.text-content {
    &__sub-title {
        font-weight: $bold-font;
        color: #5eab41;
        font-size: 22px;
        line-height: 35px;
        margin-bottom: 55px;
        @media only screen and (max-width: $max-width-1600) {
            margin-bottom: 25px;
            font-size: 20px;
        }
        @media only screen and (max-width: $max-width-sm) {
            margin-bottom: 15px;
            font-size: 16px;
            line-height: 22px;
        }
    }
    p {
        font-size: 20px;
        color: #010101;
        line-height: 35px;
        margin-bottom: 50px;
        span {
            font-weight: $bold-font;
        }
        @media only screen and (max-width: $max-width-1600) {
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 20px;
        }
        @media only screen and (max-width: $max-width-sm) {
            font-size: 16px;
        }
        @media only screen and (max-width: $max-width-small-mob-375) {
            font-size: 14px;
            line-height: 20px;
        }
    }
    img {
        width: 100%;
        border-radius: 80px;
        margin-top: 25px;
        margin-bottom: 75px;
        @media only screen and (max-width: $max-width-1600) {
            margin-bottom: 50px;
        }
        @media only screen and (max-width: $max-width-lg) {
            border-radius: 40px;
            margin-bottom: 25px;
            margin-top: 10px;
        }
        @media only screen and (max-width: $max-width-mob) {
            border-radius: 15px;
        }
    }
    a {
        text-decoration: underline;
        font-weight: $bold-font;
        color: #010101;
    }
}

a.anchor-link {
    color: #5eab41;
    font-size: 20px;
    font-weight: $bold-font;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: relative;
    padding-right: 42px;
    text-decoration: none;
    &:after {
        content: '';
        position: absolute;
        width: 30px;
        height: 19px;
        right: 0;
        background-image: url(../images/icons-sprite.png);
        background-repeat: no-repeat;
        background-position-y: calc(-15px * 4);
        background-size: cover;
        top: 50%;
        transform: translateY(-50%);
    }
}

.radius-section-title {
    text-align: center;
    font-family: "Acumin Pro Bold";
    margin-bottom: 110px;
    font-size: 80px;
    line-height: 1;
    letter-spacing: 6px;
    color: #222;
    @media only screen and (max-width: $max-width-1600) {
        font-size: 56px;
        line-height: 1;
        letter-spacing: 4px;
        margin-bottom: 40px;
    }
    @media only screen and (max-width: $max-width-lg) {
        font-size: 42px;
        line-height: 1;
        margin-bottom: 30px;
    }
    @media only screen and (max-width: $max-width-sm) {
        font-size: 36px;
        margin-bottom: 25px;
    }
    @media only screen and (max-width: $max-width-mob) {
        font-size: 24px;
    }
}

.date-picker {
    margin-top: 100px;
    margin-bottom: 10px;
    @media only screen and (max-width: $max-width-1600) {
        margin-top: 40px;
    }
    @media only screen and (max-width: $max-width-lg) {
        margin-top: 20px;
    }
    &__icon {
        text-align: right;
        cursor: pointer;
        @media only screen and (max-width: $max-width-lg) {
            img {
                width: 25px;
            }
        }
    }
}

// .date-picker {
//     background-image: url("../images/icon-calendar.png");
//     background-position: center;
//     background-repeat: no-repeat;
//     height: 45px;
//     width: 43px;
// }
@media (max-width: 1300px) {
    .container {
        max-width: 100% !important;
    }
}