/* general header css */

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    margin-bottom: 30px;
    &__logo__content {
        text-indent: -9999px;
        position: absolute;
    }
    &__navigation {
        ul {
            display: flex;
            li {
                margin-left: 70px;
                position: relative;
                a {
                    color: #272e31;
                    font-size: 24px;
                    font-weight: 400;
                    text-transform: uppercase;
                    margin: 20px 0;
                    display: block;
                    &:hover,
                    &.active {
                        color: #2185f4;
                    }
                    &.active {
                        font-weight: $bold-font;
                    }
                }
            }
        }
        &__submenu {
            &__dropdown {
                position: absolute;
                width: 340px;
                // bottom: -15px;
                // padding: 15px 0;
                left: 0;
                display: none;
                background-color: #2185f4;
                border: 1px solid #2185f4;
                z-index: 9;
                ul {
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    li {
                        margin-left: 0;
                        a {
                            text-transform: capitalize;
                            margin-left: 0;
                            color: #fff;
                            padding: 10px 15px;
                            display: block;
                            margin-bottom: 0;
                            &:hover {
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
            &:hover {
                .header-wrapper__navigation__submenu__dropdown {
                    display: block;
                }
            }
        }
    }
}