body {
    font-family: $primary-font;
    font-size: 22.5px;
    font-weight: 300;
    line-height: 1.64;
    letter-spacing: 2.25px
}

.home-explore-product {
    margin-bottom: 150px;
}

.home-app-feature {
    margin-bottom: 150px;
}