.home-new-product {
  margin-bottom: 150px;
  .new-product-slider {
    .swiper-wrapper {
      align-items: center;
    }
    &__single {
      img {
        max-width: 100%;
      }
    }
  }
}
.home-explore-product {
  margin-bottom: 150px;
  h2 {
    text-align: center;
    font-family: "Acumin Pro Bold";
    margin-bottom: 72px;
    font-size: 80px;
    line-height: 0.31;
    letter-spacing: 6px;
    color: #222;
  }
  .product-range-slider {
    position: relative;
    .swiper {
      .swiper-wrapper {
        align-items: center;
        .swiper-slide {
          border: 1px transparent solid;
        }
        .swiper-slide-thumb-active {
          border: 1px #000 solid;
        }
      }
      .swiper-button-prev {
        left: 75px;
      }
      .swiper-button-next {
        right: 75px;
      }
    }
    &__main {
      &__single {
        margin-bottom: 65px;
        &__img {
          text-align: center;
          position: relative;
          top: 65px;
        }
        &__info {
          max-width: 514px;
          h3 {
            font-size: 60px;
            font-family: "Acumin Pro Bold";
            line-height: 0.53;
            letter-spacing: 4.5px;
            margin-bottom: 49px;
            color: #222;
          }
          p {
            margin-bottom: 60px;
          }
        }
      }
    }
    &__thumb {
      width: 550px;
      position: absolute;
      right: 65px;
      bottom: 0;
      img {
        width: 100%;
      }
    }
  }
}
.home-coaching-care {
  margin-bottom: 150px;
  padding-right: 166px;
  position: relative;
  &__wrapper {
    background-image: linear-gradient(to right, #fff1eb, #f4bfb7);
    border-radius: 80px;
    padding: 44px 0 100px;
    h2 {
      font-family: "Acumin Pro Bold";
      font-size: 175px;
      color: #fff;
      position: relative;
      z-index: 1;
      margin-bottom: 80px;
      line-height: 0.99;
      letter-spacing: 35px;
      margin-left: -5px;
    }
    &__info {
      padding-left: 100px;
      p {
        margin-bottom: 60px;
      }
    }
    &__img {
      position: absolute;
      top: 44px;
      right: 0;
    }
  }
}
.home-health-ecosystem {
  margin-bottom: 150px;
  .health-ecosystem-slider {
    position: relative;
    .swiper-wrapper {
      align-items: center;
      .swiper-slide {
        border: 1px transparent solid;
      }
      .swiper-slide-thumb-active {
        border: 1px #000 solid;
      }
    }
    &__main {
      img {
        max-width: 100%;
      }
    }
    &__thumb {
      width: 50%;
      position: absolute;
      right: 65px;
      bottom: -65px;
      img {
        width: 100%;
      }
    }
  }
}
.home-app-feature {
  margin-bottom: 150px;
  .app-feature-slider {
    position: relative;
    .swiper-wrapper {
      align-items: center;
      .swiper-slide {
        border: 1px transparent solid;
      }
      .swiper-slide-thumb-active {
        border: 1px #000 solid;
      }
    }
    &__main {
      img {
        max-width: 100%;
      }
    }
    &__thumb {
      width: 50%;
      position: absolute;
      left: 65px;
      bottom: -65px;
      img {
        width: 100%;
      }
    }
  }
}
.home-blog-testimonials {
  margin-bottom: 150px;
}
.home-corporate-wellness {
  margin-bottom: 150px;
  &__info {
    h2 {
      margin-bottom: 61px;
      font-family: 'Acumin Pro Bold';
      font-size: 96.5px;
      line-height: 1.1;
      letter-spacing: 7.24px;
      span {
        font-family: $primary-font;
        font-size: 42.5px;
        font-weight: 300;
        letter-spacing: 2.13px;
        display: inline-block;
        margin-bottom: 36px;

      }
    }
    p {
      margin-bottom: 42px;
    }
  }
}
.home-logo {
  margin-bottom: 150px;
  &__tab-nav {
    &.nav {
      .nav-item {
        background-color: transparent;
        padding: 0;
        width: 100%;
        font-size: 24px;
        line-height: 2.02;
        letter-spacing: 2.4px;
        color: #252525;
        &.active {
          color: #e32e2e;
          font-weight: 700;
        }
      }
    }
  }
  .logo-slider {
    .swiper-wrapper {
      align-items: center;
    }
    .swiper-button-disabled {
      opacity: 0;
      visibility: hidden;
    }
    &__single {
      img {
        max-width: 100%;
      }
    }
  }
}
