.plp-product-list {
    margin-bottom: 210px;
    margin-top: 150px;
    @media only screen and (max-width: $max-width-1600) {
        margin-top: 100px;
        margin-bottom: 80px;
    }
    @media only screen and (max-width: $max-width-mob) {
        margin-bottom: 10px;
    }
    &__left {
        @media only screen and (max-width: $max-width-mob) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 40px;
        }
        h2 {
            font-size: 45px;
            line-height: 1.22;
            letter-spacing: 2.33px;
            color: #04060a;
            font-family: $heading-font;
            text-transform: uppercase;
            margin-bottom: 0;
            @media only screen and (max-width: $max-width-1600) {
                font-size: 36px;
            }
            @media only screen and (max-width: $max-width-sm) {
                font-size: 24px;
            }
            @media only screen and (max-width: $max-width-mob) {
                font-size: 23px;
                text-align: center;
                font-weight: bold;
                line-height: 1.13;
                letter-spacing: 1.15px;
                max-width: 300px;
                margin: auto;
                margin-bottom: 50px;
                width: 100%;
            }
        }
        &__quiz-cta {
            max-width: 95%;
            border-radius: 19.4px;
            border: solid 1px #2185f4;
            padding: 25px 33px;
            @media only screen and (max-width: $max-width-1600) {
                padding: 15px 20px;
            }
            @media only screen and (max-width: $max-width-mob) {
                max-width: 50%;
                padding: 10px;
                border-radius: 6px;
            }
            a {
                font-size: 24px;
                font-weight: 700;
                line-height: 1.38;
                letter-spacing: 2.6px;
                color: #2185f4;
                text-decoration: underline;
                @media only screen and (max-width: $max-width-1600) {
                    font-size: 18px;
                    letter-spacing: 1.5px;
                }
                @media only screen and (max-width: $max-width-sm) {
                    font-size: 14px;
                }
                @media only screen and (max-width: $max-width-mob) {
                    line-height: 1.53;
                    letter-spacing: 0.95px;
                    display: block;
                }
            }
        }
    }
    &__tab-nav {
        margin-top: 90px;
        margin-bottom: 70px;
        padding-right: 60px;
        @media only screen and (max-width: $max-width-1600) {
            margin-top: 50px;
            margin-bottom: 50px;
            padding-right: 10px;
        }
        @media only screen and (max-width: $max-width-sm) {
            margin-top: 30px;
            margin-bottom: 30px;
            padding-right: 0px;
        }
        @media only screen and (max-width: $max-width-mob) {
            max-width: 50%;
            width: calc(50% - 24px);
            margin: 0;
        }
        &.nav {
            .nav-item {
                border-radius: 0;
                background-color: transparent;
                padding: 0;
                width: 100%;
                font-size: 22px;
                line-height: 70px;
                letter-spacing: 2.4px;
                color: #252525;
                font-weight: 700;
                border-top: solid 0.6px #e9e8e8;
                @media only screen and (max-width: $max-width-1600) {
                    font-size: 20px;
                    line-height: 50px;
                    letter-spacing: 1.4px;
                }
                @media only screen and (max-width: $max-width-sm) {
                    font-size: 16px;
                    line-height: 40px;
                }
                @media only screen and (max-width: $max-width-mob) {
                    display: none;
                    font-size: 11px;
                    font-weight: bold;
                    line-height: 3.18;
                    letter-spacing: 1.1px;
                    border-bottom: 1px #020202 solid;
                }
                &:first-child {
                    border-top: none;
                }
                &.active {
                    color: #2185f4;
                    @media only screen and (max-width: $max-width-mob) {
                        display: block;
                        color: #252525;
                        line-height: 30px;
                    }
                }
            }
        }
    }
    &__single {
        text-align: center;
        img {
            margin-bottom: 56px;
            @media only screen and (max-width: $max-width-1600) {
                margin-bottom: 25px;
            }
        }
        h3 {
            font-size: 27px;
            font-family: $heading-font;
            line-height: 1.16;
            letter-spacing: 2.06px;
            color: #222;
            margin-bottom: 24px;
            @media only screen and (max-width: $max-width-1600) {
                font-size: 20px;
                letter-spacing: 1.5px;
                margin-bottom: 15px;
            }
            @media only screen and (max-width: $max-width-mob) {
                font-size: 18px;
            }
        }
        p {
            font-size: 20px;
            line-height: 1.44;
            letter-spacing: 2.05px;
            color: #010101;
            margin-bottom: 40px;
            @media only screen and (max-width: $max-width-1600) {
                font-size: 16px;
                letter-spacing: 1.5px;
                margin-bottom: 30px;
            }
            @media only screen and (max-width: $max-width-mob) {
                margin-bottom: 20px;
            }
        }
    }
    &__right {}
    &__tab-content {
        &__view-all {
            display: flex;
            justify-content: center;
            margin-top: 60px;
            margin-bottom: 40px;
            @media only screen and (max-width: $max-width-sm) {
                margin-top: 30px;
            }
            a {
                font-size: 20px;
                font-weight: bold;
                line-height: 2.37;
                letter-spacing: 2.05px;
                color: #020305;
                text-decoration: underline;
                text-transform: uppercase;
                @media only screen and (max-width: $max-width-1600) {
                    font-size: 18px;
                    letter-spacing: 1.5px;
                }
                @media only screen and (max-width: $max-width-sm) {
                    font-size: 14px;
                }
                @media only screen and (max-width: $max-width-mob) {
                    font-size: 12px;
                }
            }
        }
    }
}

.plp-coaching-plans {
    margin-bottom: 250px;
    @media only screen and (max-width: $max-width-1600) {
        margin-bottom: 150px;
    }
    @media only screen and (max-width: $max-width-sm) {
        margin-bottom: 80px;
    }
    .swiper-button-next {
        @media only screen and (max-width: $max-width-mob) {
            right: -10px;
        }
    }
    .swiper-button-prev {
        @media only screen and (max-width: $max-width-mob) {
            left: -10px;
        }
    }
    h2 {
        font-size: 78px;
        letter-spacing: 3.88px;
        text-align: center;
        color: #04060a;
        font-family: $heading-font;
        margin-bottom: 100px;
        @media only screen and (max-width: $max-width-1600) {
            font-size: 56px;
            line-height: 1;
            letter-spacing: 4px;
        }
        @media only screen and (max-width: $max-width-sm) {
            font-size: 42px;
            margin-bottom: 80px;
        }
        @media only screen and (max-width: $max-width-mob) {
            font-size: 24px;
            margin-bottom: 20px;
        }
    }
    &__single {
        border-radius: 19.4px;
        box-shadow: -1.2px 1.6px 19px 1px rgba(36, 40, 44, 0.16);
        background-color: #fff;
        position: relative;
        padding: 87px 0 34px;
        min-height: 678px;
        display: flex;
        flex-direction: column;
        height: 100%;
        @media only screen and (max-width: $max-width-1600) {
            padding: 70px 0 30px;
        }
        @media only screen and (max-width: $max-width-mob) {
            padding: 50px 0 20px;
            min-height: 500px;
            box-shadow: -1.2px 1.6px 10px 1px rgba(36, 40, 44, 0.16);
        }
        &__icon {
            position: absolute;
            left: 50%;
            top: -48px;
            border-radius: 50%;
            overflow: hidden;
            transform: translateX(-50%);
            @media only screen and (max-width: $max-width-sm) {
                width: 72px;
                top: -38px;
            }
            @media only screen and (max-width: $max-width-mob) {
                width: 54px;
                top: -28px;
            }
        }
        h3 {
            font-size: 29px;
            line-height: 1.1;
            letter-spacing: 2.18px;
            text-align: center;
            color: #222;
            font-family: $heading-font;
            @media only screen and (max-width: $max-width-1600) {
                font-size: 24px;
            }
            @media only screen and (max-width: $max-width-mob) {
                font-size: 18px;
            }
            span {
                font-size: 19px;
                font-weight: bold;
                line-height: 1.9;
                letter-spacing: 1.46px;
                font-family: $primary-font;
                display: block;
                @media only screen and (max-width: $max-width-1600) {
                    font-size: 16px;
                }
                @media only screen and (max-width: $max-width-mob) {
                    font-size: 11px;
                }
            }
        }
        &__benefits {
            padding: 40px 32px 25px 36px;
            position: relative;
            background-color: #eee;
            margin-top: 39px;
            @media only screen and (max-width: $max-width-1600) {
                margin-top: 30px;
            }
            @media only screen and (max-width: $max-width-mob) {
                padding: 24px 14px 16px 14px;
            }
            h4 {
                font-size: 17px;
                line-height: 1.54;
                letter-spacing: 1.75px;
                color: #010101;
                font-weight: 700;
                font-family: $heading-font;
                margin-bottom: 0;
                @media only screen and (max-width: $max-width-mob) {
                    font-size: 13px;
                }
            }
            &__offers {
                padding: 8px 14px 7px 13px;
                border-radius: 5.8px;
                background-color: #010101;
                font-size: 13px;
                letter-spacing: 1.35px;
                line-height: 1;
                color: #feefed;
                display: inline-block;
                position: absolute;
                font-family: "Acumin Pro Bold", sans-serif;
                top: -13px;
                left: 36px;
                @media only screen and (max-width: $max-width-mob) {
                    padding: 8px 12px 6px 13px;
                    font-size: 9px;
                }
            }
            ul {
                list-style: none;
                position: relative;
                padding-left: 20px;
                margin-bottom: 0;
                @media only screen and (max-width: $max-width-mob) {
                    margin-top: 10px;
                }
                li {
                    font-size: 18px;
                    line-height: 1.54;
                    letter-spacing: 1.75px;
                    color: #010101;
                    @media only screen and (max-width: $max-width-1600) {
                        font-size: 16px;
                        letter-spacing: 1.5px;
                        line-height: 20px;
                        margin-bottom: 10px;
                    }
                    @media only screen and (max-width: $max-width-mob) {
                        font-size: 14px;
                    }
                    &::before {
                        content: "+";
                        position: absolute;
                        left: 0;
                    }
                }
            }
        }
        &__sub-plans {
            flex: 1;
            padding: 36px;
            @media only screen and (max-width: $max-width-1600) {
                padding: 25px;
            }
            h4 {
                font-size: 17px;
                line-height: 1.54;
                letter-spacing: 1.75px;
                color: #010101;
                font-weight: 700;
                font-family: $heading-font;
                text-transform: uppercase;
                margin-bottom: 5px;
                @media only screen and (max-width: $max-width-1600) {
                    font-size: 16px;
                }
                @media only screen and (max-width: $max-width-mob) {
                    font-size: 14px;
                }
            }
            &__single {
                font-size: 17px;
                line-height: 1.79;
                letter-spacing: 1.75px;
                color: #010101;
                display: flex;
                justify-content: space-between;
                position: relative;
                padding-left: 30px;
                cursor: pointer;
                @media only screen and (max-width: $max-width-1600) {
                    font-size: 16px;
                }
                @media only screen and (max-width: $max-width-mob) {
                    font-size: 14px;
                    font-weight: bold;
                }
                &::before {
                    content: "";
                    position: absolute;
                    height: 21px;
                    width: 21px;
                    border-radius: 50%;
                    border: solid 1px #010101;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    @media only screen and (max-width: $max-width-1600) {
                        height: 16px;
                        width: 16px;
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    height: 12px;
                    width: 12px;
                    border-radius: 50%;
                    background-color: #010101;
                    left: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    display: none;
                    @media only screen and (max-width: $max-width-1600) {
                        height: 9px;
                        width: 9px;
                        left: 3.5px;
                    }
                    @media only screen and (max-width: $max-width-1600) {
                        height: 10px;
                        width: 10px;
                        left: 3px;
                    }
                }
                &--active {
                    &::after {
                        display: block;
                    }
                }
            }
        }
        &__cta {
            padding: 0 36px;
            display: flex;
            justify-content: space-between;
            flex: 1;
            align-items: flex-end;
            @media only screen and (max-width: $max-width-1600) {
                padding: 0 10px;
            }
            &__price {
                font-family: $heading-font;
                font-size: 22px;
                line-height: 1.82;
                letter-spacing: 0.61px;
                color: #222;
                @media only screen and (max-width: $max-width-1600) {
                    font-size: 16px;
                }
                span {
                    font-size: 24px;
                    line-height: 1.82;
                    letter-spacing: 0.61px;
                    color: #a4a1a1;
                    font-family: 'Acumin Pro';
                    text-decoration: line-through;
                    margin-right: 10px;
                    @media only screen and (max-width: $max-width-1600) {
                        font-size: 18px;
                        margin-right: 5px;
                    }
                }
            }
        }
        &--red {
            .plp-coaching-plans__single__benefits {
                background-color: #ffefec;
            }
            .plp-coaching-plans__single__benefits__offers {
                background-color: #d03a2c;
            }
            .plp-coaching-plans__single__sub-plans__single::before {
                border: solid 1px #d03a2c;
            }
            .plp-coaching-plans__single__sub-plans__single::after {
                background-color: #d03a2c;
            }
        }
        &--yellow {
            .plp-coaching-plans__single__benefits {
                background-color: #fdf5d2;
            }
            .plp-coaching-plans__single__benefits__offers {
                background-color: #fbbd34;
            }
            .plp-coaching-plans__single__sub-plans__single::before {
                border: solid 1px #fbbd34;
            }
            .plp-coaching-plans__single__sub-plans__single::after {
                background-color: #fbbd34;
            }
        }
        &--green {
            .plp-coaching-plans__single__benefits {
                background-color: #e3f8de;
            }
            .plp-coaching-plans__single__benefits__offers {
                background-color: #39af25;
            }
            .plp-coaching-plans__single__sub-plans__single::before {
                border: solid 1px #39af25;
            }
            .plp-coaching-plans__single__sub-plans__single::after {
                background-color: #39af25;
            }
        }
        &--blue {
            .plp-coaching-plans__single__benefits {
                background-color: #e4f2fe;
            }
            .plp-coaching-plans__single__benefits__offers {
                background-color: #0085fc;
            }
            .plp-coaching-plans__single__sub-plans__single::before {
                border: solid 1px #0085fc;
            }
            .plp-coaching-plans__single__sub-plans__single::after {
                background-color: #0085fc;
            }
        }
    }
}

.plp-disease-condition {
    border-radius: 145px;
    background-image: linear-gradient(to top, #dff2fc, #ffffff);
    padding: 76px 0 54px;
    margin-bottom: 215px;
    @media only screen and (max-width: $max-width-sm) {
        border-radius: 80px;
        margin-bottom: 150px;
    }
    @media only screen and (max-width: $max-width-mob) {
        border-radius: 40px;
        margin-bottom: 40px;
        padding-top: 0;
        padding-bottom: 30px;
    }
    h2 {
        font-size: 79px;
        letter-spacing: 3.88px;
        color: #1c7de8;
        text-align: center;
        font-family: $heading-font;
        margin-bottom: 38px;
        @media only screen and (max-width: $max-width-1600) {
            font-size: 56px;
            line-height: 1;
            letter-spacing: 4px;
            margin-bottom: 40px;
        }
        @media only screen and (max-width: $max-width-sm) {
            font-size: 42px;
        }
        @media only screen and (max-width: $max-width-mob) {
            font-size: 23px;
        }
    }
    &__wrapper {
        .row {
            padding: 0 72px;
        }
    }
    &__single {
        text-align: center;
        img {
            margin-bottom: 53px;
            border-radius: 20px;
            overflow: hidden;
            @media only screen and (max-width: $max-width-1600) {
                margin-bottom: 30px;
            }
        }
        h3 {
            font-family: $heading-font;
            font-size: 33px;
            line-height: 0.97;
            letter-spacing: 2.51px;
            color: #222;
            margin-bottom: 27px;
            @media only screen and (max-width: $max-width-1600) {
                font-size: 30px;
                margin-bottom: 15px;
            }
            @media only screen and (max-width: $max-width-mob) {
                font-size: 18px;
            }
        }
        p {
            font-size: 17px;
            line-height: 1.45;
            letter-spacing: 1.65px;
            color: #010101;
            max-width: 80%;
            margin: 0 auto;
            margin-bottom: 30px;
            @media only screen and (max-width: $max-width-1600) {
                font-size: 16px;
                max-width: 90%;
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }
    }
}

.plp-combo {
    margin-bottom: 115px;
    &__wrapper {
        border-radius: 77.6px;
        // background-image: linear-gradient(to top, #ffe5db, #ecedf8);
        padding: 76px 0 54px;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fce7db+0,f7e4e7+38,f8e3e4+55,ede1f1+72,e6edf5+89,e7e7f8+100 */
        background: rgb(252, 231, 219);
        /* Old browsers */
        background: -moz-linear-gradient(45deg, rgba(252, 231, 219, 1) 0%, rgba(247, 228, 231, 1) 38%, rgba(248, 227, 228, 1) 55%, rgba(237, 225, 241, 1) 72%, rgba(230, 237, 245, 1) 89%, rgba(231, 231, 248, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, rgba(252, 231, 219, 1) 0%, rgba(247, 228, 231, 1) 38%, rgba(248, 227, 228, 1) 55%, rgba(237, 225, 241, 1) 72%, rgba(230, 237, 245, 1) 89%, rgba(231, 231, 248, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, rgba(252, 231, 219, 1) 0%, rgba(247, 228, 231, 1) 38%, rgba(248, 227, 228, 1) 55%, rgba(237, 225, 241, 1) 72%, rgba(230, 237, 245, 1) 89%, rgba(231, 231, 248, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        @media only screen and (max-width: $max-width-mob) {
            padding-top: 10px;
            border-radius: 20px;
            padding-bottom: 20px;
        }
        h2 {
            font-size: 106px;
            letter-spacing: 5.43px;
            color: #fff;
            text-align: center;
            font-family: $heading-font;
            margin-bottom: 38px;
            @media only screen and (max-width: $max-width-1600) {
                font-size: 76px;
                letter-spacing: 4px;
                text-align: left;
                margin-bottom: 30px;
            }
            @media only screen and (max-width: $max-width-sm) {
                font-size: 48px;
                letter-spacing: 1px;
                text-align: center;
            }
            @media only screen and (max-width: $max-width-mob) {
                font-size: 36px;
                margin-bottom: 20px;
            }
        }
        .row {
            padding: 0 72px;
        }
    }
    &__single {
        text-align: center;
        img {
            margin-bottom: 36px;
            @media only screen and (max-width: $max-width-1600) {
                max-width: 80%;
            }
        }
        h3 {
            font-size: 27px;
            font-family: $heading-font;
            line-height: 1.16;
            letter-spacing: 2.06px;
            color: #222;
            margin-bottom: 27px;
            @media only screen and (max-width: $max-width-1600) {
                font-size: 20px;
                letter-spacing: 1.5px;
                margin-bottom: 15px;
            }
            @media only screen and (max-width: $max-width-mob) {
                font-size: 18px;
                margin-bottom: 8px;
            }
        }
        p {
            font-size: 16.5px;
            line-height: 1.45;
            letter-spacing: 1.65px;
            color: #010101;
            @media only screen and (max-width: $max-width-1600) {
                font-size: 16px;
                letter-spacing: 1.5px;
            }
            @media only screen and (max-width: $max-width-mob) {
                font-size: 14px;
                padding: 0 20px;
            }
        }
        &__price {
            font-size: 31px;
            font-family: $heading-font;
            line-height: 1.81;
            letter-spacing: 0.78px;
            color: #222;
            margin-bottom: 32px;
            @media only screen and (max-width: $max-width-1600) {
                font-size: 28px;
                margin-bottom: 20px;
            }
            @media only screen and (max-width: $max-width-sm) {
                font-size: 22px;
            }
            @media only screen and (max-width: $max-width-mob) {
                font-size: 16px;
                margin-bottom: 18px;
            }
            span {
                line-height: 1.81;
                letter-spacing: 0.78px;
                color: #ad9a8b;
                font-family: 'Acumin Pro';
                margin-right: 10px;
                text-decoration: line-through;
            }
        }
    }
}