.smart-vital-main{
	margin: 80px 0 150px;
	position: relative;
	.overlay{
		position: absolute;height: calc(100% - 420px);width: 100%;
		background-image: linear-gradient(to top, #dff2fc, #fff);
		@media only screen and (max-width: $max-width-1600) {
			height: calc(100% - 300px);
		}
	}
	.smart-vital-main__productimg{
		.product-range-slider{
			 position: relative;
			 
			.smart-vital-slider__main{
				.product-range-slider__main__single__img{  
					padding: 0 70px;
					margin: auto;text-align: center;
				}
			}
			.smart-vital-slider__thumbMain{
				padding: 0 70px;position: relative;
				.smart-vital-slider__thumb{
					.product-range-slider__thumb__single{
						    border-radius: 9.7px;
						    border: solid 0.6px #c6c6c6;
						    background-color: #fff;
						    text-align: center;margin: auto;
					}
					.swiper-slide-thumb-active{
						.product-range-slider__thumb__single{
							border-color: #3a7fd0;
						}
					}
				}
			}
		}
		
	}
	.smart-vital-main__productData{
		img{}
		h2{
			font-size: 40px;
		    font-weight: bold;
		    font-stretch: normal;
		    font-style: normal;
		    line-height: 1.5;
		    letter-spacing: 3.11px;
		    color: #222;
		    margin: 20px 0 30px;
		}
		h3{
			font-size: 20px;
			  font-weight: bold;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: 1.5;
			  letter-spacing: 2.25px;
			  color: #222;
		}
		p{
			font-size: 23.5px;
		  font-weight: 300;
		  font-stretch: normal;
		  font-style: normal;
		  line-height: 1.45;
		  letter-spacing: 2.35px;
		  color: #010101;
			strong{
				font-weight: bold;
			}
		}
		.smart-vital-main__productPrice{
			display: flex;align-items: center;
			margin:60px 0;justify-content: space-between;
			.smart-vital-main__productPriceValue{
				h4{
					  font-size: 40.5px;
					  font-weight: bold;
					  font-stretch: normal;
					  font-style: normal;
					  line-height: 1.06;
					  letter-spacing: 4.05px;
					  color: #2185f4;
					  strong{
					  	padding-right: 10px;
					  	text-decoration: line-through;
					  	 color: #859297;
					  }
					@media only screen and (max-width: $max-width-1600) {
				      font-size: 30px;
					}
				    @media only screen and (max-width: $max-width-lg) {
				    	font-size: 24px;
				    }
				    @media only screen and (max-width: $max-width-sm) {
				       font-size: 20px;
				    }
				    @media only screen and (max-width: $max-width-mob) {
				       font-size: 18px;
				    }
				    @media only screen and (max-width: $max-width-small-mob) {
				       
				    }
				}
			}
			.smart-vital-main__productPriceCta{
				.goqii-btn-primary{
					border: solid 1px #2185f4;
					color: #2185f4;
					margin: 0 10px;
				}
			}

		}
		.smart-vital-main__productPlus{
			border-radius: 14.5px;
		    box-shadow: -1.2px 1.6px 8.7px 0.3px #24282c36;
		    background-color: #fff;
		    padding: 15px;
		    .col-1{
		    	strong{
			    	font-size: 63px;
				  font-weight: normal;
				  font-stretch: normal;
				  font-style: normal;
				  line-height: 1.25;
				  letter-spacing: 6.3px;
				  text-align: center;
				  color: #000;
			    }
			}
			.col{
				display: flex;
				.smart-vital-main__freeWatchimg{padding-left: 20px;
					h4{
						font-size: 22px;
						  font-weight: bold;
						  font-stretch: normal;
						  font-style: normal;
						  line-height: normal;
						  letter-spacing: 2.2px;
						  text-align: left;
						  color: #2185f4;
					}
					h5{
						font-size: 15.5px;
						  font-weight: 300;
						  font-stretch: normal;
						  font-style: normal;
						  line-height: 1.32;
						  letter-spacing: 1.55px;
						  text-align: left;
						  color: #010101;
						  strong{
						  	font-weight: bold;
  							color: #000;
						  }
					}
				}
			}
		}
		.smart-vital-main__certiAward{
			margin-top: 80px;
			display: flex;align-items: center;
			.smart-vital-main__certiAwardBox{
				width: calc(100% - 305px);
				padding-right: 20px;
				.col-6{
					h4{
						 font-size: 18px;
						  font-weight: bold;
						  font-stretch: normal;
						  font-style: normal;
						  line-height: 2.31;
						  letter-spacing: 1.95px;
						  text-align: left;
						  color: #2185f4;
					}
					.col{
						display: flex;align-items: center;
						p{
							font-size: 20px;
							padding-left: 20px;
							  font-weight: normal;
							  font-stretch: normal;
							  font-style: normal;
							  line-height: 1.33;
							  letter-spacing: 2.25px;
							  text-align: left;
							  color: #222;
						}
					}
				}

				@media only screen and (max-width: $max-width-1600) {
			      h4{font-size: 16px;}
			      .col{
			      	p{
			      		font-size: 18px;
			      	}
			      }
			    }
			    @media only screen and (max-width: $max-width-lg) {

			    }
			    @media only screen and (max-width: $max-width-sm) {
			       
			    }
			    @media only screen and (max-width: $max-width-mob) {
			       
			    }
			    @media only screen and (max-width: $max-width-small-mob) {
			       
			    }
			}
			.smart-vital-main__certiAwardCta{
				width: 305px;
				.goqii-btn-primary{
					color: #fff;
					    border: solid 1px #2185f4;
					    background-color: #2185f4;
				}
			}

			@media only screen and (max-width: $max-width-1600) {
		      display: block;  
		      margin-top: 50px;
		      .smart-vital-main__certiAwardBox{
		       		width: 100%;
		       		padding-right: 0;
		       }
		       .smart-vital-main__certiAwardCta{
		       	width: 100%;margin-top: 30px;
		       }
		    }
		    @media only screen and (max-width: $max-width-lg) {

		    }
		    @media only screen and (max-width: $max-width-sm) {
		       
		    }
		    @media only screen and (max-width: $max-width-mob) {
		       .smart-vital-main__certiAwardBox{
		       	h4{font-size: 14px !important;}
		       	p{font-size: 14px !important;}
		       }
		       .smart-vital-main__certiAwardCta{margin-top: 10px !important;}
		    }
		    @media only screen and (max-width: $max-width-small-mob) {
		       	.smart-vital-main__certiAwardBox{
		       	h4{font-size: 12px !important;}
		       	p{font-size: 12px !important;}
		       }
		       	
		    }
		}
		@media only screen and (max-width: $max-width-1600) {
	      	h2{font-size: 30px;}
	      	h3{font-size: 18px;}
	      	p{font-size: 20px;}
	      .smart-vital-main__productPrice{
	      	margin: 30px 0;
	      	display: block;
	      	.smart-vital-main__productPriceValue{
	      		margin-bottom: 20px;
	      	}
	      }
	      .smart-vital-main__productPlus{
		    .col-1{
		    	strong{
			    	font-size:50px;
			    }
			}
			.col{
				.smart-vital-main__freeWatchimg{
					h4{
						font-size:20px;
					}
					h5{
						font-size: 12px;
					}
				}
			}
		}
	      
	    }
	    @media only screen and (max-width: $max-width-lg) {
	    	h2{font-size: 30px;line-height: 1.2;}
	      	h3{font-size: 18px;line-height: 1.5;}
	      	p{font-size: 20px;line-height: 1.5;}
	      .smart-vital-main__productPrice{
	      	margin: 30px 0;

	      	.smart-vital-main__productPriceValue{
	      		
	      	}
	      }
	      .smart-vital-main__productPlus{
		    .col-1{
		    	strong{
			    	font-size:50px;
			    }
			}
			.col{
				.smart-vital-main__freeWatchimg{
					h4{
						font-size:20px;
					}
					h5{
						font-size: 12px;
					}
				}
			}
		}
	      

	    }
	    @media only screen and (max-width: $max-width-sm) {
	    	img{height: 40px;}
	       h2{font-size: 26px;}
	      	h3{font-size: 16px;}
	      	p{font-size: 16px;}
	    }
	    @media only screen and (max-width: $max-width-mob) {
	    	img{height: 25px;}
	        h2{font-size: 20px;}
	      	h3{font-size: 14px;}
	      	p{font-size: 14px;}
	      	img{display: block;margin: auto;text-align: center;}
	      .smart-vital-main__productPrice{
	      	display: block;
	      	margin: 30px 0;
	      	.smart-vital-main__productPriceValue{
	      		
	      	}
	      }
	      .smart-vital-main__productPlus{
	      	.row{display: block;}
		    .col-1{
		    	margin: auto;text-align: center;
		    	strong{font-size: 30px;text-align: center;}
		    }
			.col{
				.smart-vital-main__freeWatchimg{
					img{height: 40px;}
					h4{
						font-size: 18px;
					}
					h5{
						font-size: 12px;
					}
				}
			}
		}
	      
	    }
	    @media only screen and (max-width: $max-width-small-mob) {
	       h2{font-size: 18px;}
	      h3{font-size: 12px;}
	      	p{font-size: 14px;}
	    }
	}
	@media only screen and (max-width: $max-width-1600) {
       
    }
    @media only screen and (max-width: $max-width-lg) {
      
    }
    @media only screen and (max-width: $max-width-sm) {
       
    }
    @media only screen and (max-width: $max-width-mob) {
        .smart-vital-main__productData{padding-top: 40px;text-align: center;}
        margin: 80px 0;
    }
    @media only screen and (max-width: $max-width-small-mob) {
    }
	
}
.watch-video-sec{
	position: relative;
	margin: 80px 0;
	.col-12{
		position: relative;
		.watch-video-sec-topDiv{
			position: absolute;
			top: -35px;right: -50px;
			.watch-video-sec-topDiv__topDivinner{
				border-radius: 19.4px;
				display: flex;align-items: center;
  				box-shadow: -1.2px 1.6px 17.8px 0.2px rgba(36, 40, 44, 0.14);
  				background-color: #fff;
  				img{max-height:20px;padding-left:20px;}
  				.price-Btn{
  					padding: 10px;
  					background-color: #2185f4;
  					display: flex;align-items: center;
  					clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 0% 100%);
  					padding-left: 35px;
  					h5{
  						font-size: 30px;
						  font-weight: bold;
						  font-stretch: normal;
						  font-style: normal;
						  line-height: 1.17;
						  letter-spacing: 3.2px;
						  text-align: left;
						  color: #fff;
						  margin: 0;padding-right: 20px;
  					}
  					a{
  						font-size: 16px;
						  font-weight: bold;
						  letter-spacing: 1.75px;
						  text-align: center;
						  color: #fff;
						  border-color: #fff;
  					}
  				}
			}
			@media only screen and (max-width: $max-width-lg) {
				right: 0;
		    }
		    @media only screen and (max-width: $max-width-mob) {
		        display: none;
		    }
		}
		.watch-video-sec-bottomDiv{
			img{height: 50px;}
			position: absolute;
			bottom: 30px;right: 50px;
			span{	padding-left: 20px;
					font-size: 20px;
				  font-weight: bold;
				  font-stretch: normal;
				  font-style: normal;
				  line-height: 2.98;
				  letter-spacing: 2.25px;
				  text-align: center;
				  color: #222;
			}
			@media only screen and (max-width: $max-width-mob) {
        		bottom: 10px;right: 25px;
        		img{height: 30px;}
        		span{padding-left: 10px;font-size: 16px;line-height: 1;}
   		 	}
    		@media only screen and (max-width: $max-width-small-mob) {
    			img{height: 20px;}
    			bottom: 5px;
        		span{padding-left: 10px;font-size: 14px;line-height: 1;}
    		}
		}
		.video-banner-img{
			width: 100%;
			border-radius: 5px;
			@media only screen and (max-width: $max-width-mob) {
		        min-height: 300px;object-fit: cover;
		    }
		    @media only screen and (max-width: $max-width-small-mob) {
		        min-height: 250px;
		    }
		}
	}
}
.product-specs-slider{
	margin: 80px 0;
	.product-specs-slider__overlay{
		position: absolute;height: 90%;width: 100%;
		background-image: linear-gradient(to top, #ace0f9, #fff1eb);
		overflow: hidden;
		.product-specs-slider__img{
				position: absolute;
				max-width:1000px;width: 100%; right:-1%;bottom: -80px;
				@media only screen and (max-width: $max-width-1600) {
			       max-width: 800px;
			    }
			     @media only screen and (max-width: $max-width-lg) {
			        max-width: 500px;
			    }
			    @media only screen and (max-width: $max-width-sm) {
	       			max-width: 400px;
	       			right:-50px;bottom:-50px;
	    		}
		}
		@media only screen and (max-width: $max-width-1600) {
	        height: 100%;
	    }
	    @media only screen and (max-width: $max-width-sm) {
	       height: 350px;
	    }
	}
	.product-specs-slider__holder{

		position: relative;
		.product-specs-slider__Bg{
			padding-top: 200px;
			position: relative;
			.swiper-button-prev{top:350px;left: 0;
					@media only screen and (max-width: $max-width-1600) {
		        	top: 250px;
				    }
				    @media only screen and (max-width: $max-width-sm) {
				        top: inherit;bottom: 0;
				    }
				}
			.swiper-button-next{top:350px;right: 0;
					@media only screen and (max-width: $max-width-1600) {
				       top: 250px; 
				    }
				    @media only screen and (max-width: $max-width-sm) {
				        top: inherit;bottom: 0;
				    }
				}
			h2{
				padding-top: 50px;
				font-size: 88px;
			 	font-weight: bold;
			  	font-stretch: normal;
			  	font-style: normal;
			  	line-height: 1.05;
			  	letter-spacing: 6px;
			  	color: #222222;
			  	text-transform: uppercase;
			  	margin-bottom:40px;
			  	@media only screen and (max-width: $max-width-1600) {
			        font-size:70px;
			    }
			    @media only screen and (max-width: $max-width-lg) {
			        font-size: 50px;
			    }
			    @media only screen and (max-width: $max-width-sm) {
			        font-size: 40px;
			    }
			    @media only screen and (max-width: $max-width-mob) {
			        font-size: 30px;
			    }
			    @media only screen and (max-width: $max-width-small-mob) {
			        font-size: 24px;
			    }
			}
			@media only screen and (max-width: $max-width-1600) {
			        padding-top: 100px;
			  }
			
			.product-specs-slider__card{
				padding: 20px;
				display: flex;
				flex-wrap: wrap;
				padding-top: 180px;
				.product-specs-slider__cardBox{
					flex: 0 0 calc(25% - 20px);
					margin: 10px;
					border-radius: 14.5px;
				    box-shadow: -3.6px 4.8px 33px 1px #24282c21;
				    background-color: #fff;
				    padding:0 40px 40px;
					img{ position: relative;
					    width: 100px;
					    top: -50px;
					    margin: auto;
					    display: block;
					    @media only screen and (max-width: $max-width-1600) {
							width: 80px;
							top: -40px;
					    }
					    @media only screen and (max-width: $max-width-lg) {
					       	width: 60px;
					       	top: -30px;
					    }
					    @media only screen and (max-width: $max-width-sm) {
					        width: 50px;
					        top: -25px;
					    }
					    @media only screen and (max-width: $max-width-mob) {
					        width: 50px;
					        top: -25px;
					    }
					    @media only screen and (max-width: $max-width-small-mob) {
					        width: 50px;
					        top: -25px;
					    }
					}
					h4{font-size: 22.5px;
					  font-weight: 300;
					  font-stretch: normal;
					  font-style: normal;
					  line-height: 1.33;
					  letter-spacing: 1.69px;
					  text-align: center;
					  color: #201f1f;
					  font-weight: bold;
					   @media only screen and (max-width: $max-width-1600) {
							font-size: 18px
					    }
					    @media only screen and (max-width: $max-width-lg) {
					       	font-size: 16px;
					    }
					    @media only screen and (max-width: $max-width-sm) {
					        font-size: 16px;
					    }
					    @media only screen and (max-width: $max-width-mob) {
					        font-size: 16px;
					    }
					    @media only screen and (max-width: $max-width-small-mob) {
					        font-size: 14px;
					    }
					}
					p{
					font-size: 22.5px;
					  font-weight: 300;
					  font-stretch: normal;
					  font-style: normal;
					  line-height: 1.33;
					  letter-spacing: 1.69px;
					  text-align: center;
					  color: #201f1f;
					  @media only screen and (max-width: $max-width-1600) {
							font-size: 18px;
						}
					    @media only screen and (max-width: $max-width-lg) {
					       font-size: 16px;
					    }
					    @media only screen and (max-width: $max-width-sm) {
					        font-size: 16px;
					    }
					    @media only screen and (max-width: $max-width-mob) {
					        font-size: 14px;
					    }
					    @media only screen and (max-width: $max-width-small-mob) {
					        font-size: 14px;
					    }
					}
					@media only screen and (max-width: $max-width-1600) {
						padding: 0 30px 30px;
				    }
				    @media only screen and (max-width: $max-width-lg) {
				       	padding: 0 10px 10px;
				       	flex:0 0 calc(50% - 20px);
				       	margin: 20px 10px;
				    }
				    
				}
				@media only screen and (max-width: $max-width-1600) {
			       padding-top: 100px;
			    }
			    @media only screen and (max-width: $max-width-sm) {
			       padding: 60px 0 20px;
			       margin: 0 -10px;
			    }
			}
			@media only screen and (max-width: $max-width-lg) {
		       	padding: 0 20px 20px;

		       	flex:0 0 calc(50% - 20px);
		    }

		}
		.product-specs-slider__thumb{
			margin: 20px;
			padding: 20px;
			border-radius: 19.4px;
			  box-shadow: -3.6px 4.8px 33px 1px rgba(36, 40, 44, 0.13);
			  background-color: #fff;
			 .swiper-wrapper{
			  	    justify-content: space-between;
			  	    flex-wrap: wrap;
			  	    // align-items: center;
			  	    .swiper-slide{
			  	    	margin: 0 !important;
						.health-ecosystem-slider__thumb__single__label{
							font-size: 20px;
						    font-weight: bold;
						    font-stretch: normal;
						    font-style: normal;
						    line-height:2.4;
						    letter-spacing: 2.15px;
						    text-align: center;
						    color: #040102;
						    @media only screen and (max-width: $max-width-1600) {
						        font-size:16px;
						        line-height: 1.4;
						    }
						    @media only screen and (max-width: $max-width-lg) {
						        font-size:16px;
						    }
						    @media only screen and (max-width: $max-width-sm) {
						        font-size:16px;
						    }
						    @media only screen and (max-width: $max-width-mob) {
						        font-size:14px;
						    }
						    @media only screen and (max-width: $max-width-small-mob) {
						       font-size:14px;
						    }
						    .health-ecosystem-slider__thumb__single__progress{
						    	height: 7px;
							    width: 100%;
							    background-color: #bababa;
							    border-radius: 10px;
							    position: relative;
							    opacity: 0;
							    overflow: hidden;
							    &:after{
							    	    content: "";
									    height: 100%;
									    width: 0;
									    background-color: #2185f4;
									    top: 0;
									    left: 0;
									    position: absolute;
							    }
						    }
						}
						&.swiper-slide-thumb-active{
							.health-ecosystem-slider__thumb__single__label{
								color: #2185f4;
								.health-ecosystem-slider__thumb__single__progress{
									opacity: 1;
									 &:after{
									 	    animation-name: example;
    										animation-duration: 5s;
									 }
								}
							}
						}
						@media only screen and (max-width: $max-width-1600) {
							margin:20px !important;
							width: calc(33.33% - 40px) !important;
					    }
					    @media only screen and (max-width: $max-width-lg) {
							width: calc(33.33% - 10px) !important;
					       	margin:5px !important;
					    }
					}
			 }
			@media only screen and (max-width: $max-width-lg) {
				padding: 10px;
		    }
		}
	}
}

.health-care-ecosystem{
	margin: 80px 0;
	.health-care-ecosystem__info{
		h2{
			font-size: 88px;
		 	font-weight: bold;
		  	font-stretch: normal;
		  	font-style: normal;
		  	line-height: 1.05;
		  	letter-spacing: 6px;
		  	color: #d03a2c;
		  	text-transform: uppercase;
		  	margin-bottom:40px;
		  	@media only screen and (max-width: $max-width-1600) {
		        font-size:70px;
		    }
		    @media only screen and (max-width: $max-width-lg) {
		        font-size: 50px;
		    }
		    @media only screen and (max-width: $max-width-sm) {
		        font-size: 40px;
		    }
		    @media only screen and (max-width: $max-width-mob) {
		        font-size: 30px;
		    }
		    @media only screen and (max-width: $max-width-small-mob) {
		        font-size: 24px;
		    }
		}
		h4{
			  font-size: 34px;
			  font-weight: 300;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: 1;
			  letter-spacing: 1.7px;
			  text-align: left;
			  color: #d03a2c;
			  margin-bottom: 20px;
		}
		.health-care-product-inner{
			display: flex;
			padding-top:10px;
			align-items: flex-end;
			position: relative;
			.health-care-product-inner__box{
				img{max-height: 40px;max-width: 40px;padding-bottom:5px;}
				h5{
					font-size: 20.5px;
				    font-weight: 300;
				    font-stretch: normal;
				    font-style: normal;
				    line-height:1.7;
				    letter-spacing: 2.05px;
				    text-align: left;
				    margin-bottom: 0;
				    color: #000;
				    @media only screen and (max-width: $max-width-1600) {
				        font-size:18px;
				    }
				    @media only screen and (max-width: $max-width-lg) {
				        font-size: 16px;
				    }
				    @media only screen and (max-width: $max-width-sm) {
				        font-size: 16px;
				    }
				    @media only screen and (max-width: $max-width-mob) {
				        font-size: 14px;
				    }
				    @media only screen and (max-width: $max-width-small-mob) {
				        font-size: 14px;
				    }
				}
			}
			span{display: inline-block;font-weight: bold;padding: 0 20px;}
		}
		.home-app-feature__app-download{padding:40px 0 0;}
	}
}
.make-informed-choice{
	h2{
		font-size: 88px;
	 	font-weight: bold;
	  	font-stretch: normal;
	  	font-style: normal;
	  	line-height: 1.05;
	  	letter-spacing: 6px;
	  	color: #252c2e;
	  	text-transform: uppercase;
	  	margin-bottom: 60px;text-align: center;
	  	@media only screen and (max-width: $max-width-1600) {
	        font-size:70px;
	    }
	    @media only screen and (max-width: $max-width-lg) {
	        font-size: 50px;
	    }
	    @media only screen and (max-width: $max-width-sm) {
	        font-size: 40px;
	    }
	    @media only screen and (max-width: $max-width-mob) {
	        font-size: 30px;
	    }
	    @media only screen and (max-width: $max-width-small-mob) {
	        font-size: 24px;
	    }
	}
	position: relative;margin: 80px 0;
	.make-informed-choice__box{
		margin: 0 20px;
		border-radius: 19.4px;
    	background-color: #dff2fc;
    	text-align: center;
    	img{
    		position: relative;
    		text-align: center;
    		display: block;margin: auto;
    		bottom: -60px;
    	}
	}
	.make-informed-choice__info{
		margin: 0 20px;
		padding-top: 80px;
		text-align: center;
		img{max-height: 40px;max-width: 180px; display: block;margin: auto;}
		.product-specs-box{
			padding-top: 20px;
			h4{
				margin:10px 0px 20px;
				font-size: 23.5px;
			    line-height: 1.45;
			    letter-spacing: 1.76px;
			    color: #201f1f;
			    strong{
			    	display:block;
			    	font-weight: bold;
			    }
			    @media only screen and (max-width: $max-width-1600) {
			        font-size:20px;
			    }
			    @media only screen and (max-width: $max-width-lg) {
			        font-size: 18px;
			    }
			    @media only screen and (max-width: $max-width-sm) {
			        font-size: 16px;
			    }
			    @media only screen and (max-width: $max-width-mob) {
			        font-size: 16px;
			    }
			    @media only screen and (max-width: $max-width-small-mob) {
			        font-size: 14px;
			    }
			}
		}
	}
	
    @media only screen and (max-width: $max-width-sm) {
        .col-2{display: none;}
       	.col-4{-webkit-box-flex: 0;
		    -ms-flex: 0 0 50%;
		    flex: 0 0 50%;
		    max-width: 50%;
		    .make-informed-choice__box{
		    	margin: 0;	
		    	img{
		    		    bottom: -40px;
    					max-height: 150px;
		    	}
		    }
		    .make-informed-choice__info{
		    	padding-top:50px;
		    	img{width:auto;max-height: 20px;}
		    }
		}
    }
    @media only screen and (max-width: $max-width-mob) {
        
    }
    @media only screen and (max-width: $max-width-small-mob) {
       
    }
}
.product-specs-boxholder{
	position: relative;margin: 80px 0;
	.product-specs-box__img{
		padding-right: 50px;

	}
	.product-specs-box__info{
		img{max-height: 40px;}
		h2{font-size: 43.5px;
		  font-weight: bold;
		  text-transform: uppercase;
		  margin-top: 20px;
		  letter-spacing: 4.35px;
		  text-align: left;
		  color: #101010;
		  @media only screen and (max-width: $max-width-1600) {
		        font-size:40px;
		    }
		    @media only screen and (max-width: $max-width-lg) {
		        font-size: 34px;
		    }
		    @media only screen and (max-width: $max-width-sm) {
		        font-size: 30px;
		    }
		    @media only screen and (max-width: $max-width-mob) {
		        font-size: 24px;
		    }
		    @media only screen and (max-width: $max-width-small-mob) {
		        font-size: 20px;
		    }

		}
		.product-specs-box{
			display: flex;
			flex-wrap: wrap;
			border-top: solid 0.9px #777676;
    		padding-top: 30px;
    		margin-top: 20px;
			h4{
				width: calc(50% - 10px);margin:10px 5px;
				font-size: 23.5px;
			    
			    font-stretch: normal;
			    font-style: normal;
			    line-height: 1.45;
			    letter-spacing: 1.76px;
			    color: #201f1f;
			    strong{
			    	display:block;
			    	font-weight: bold;
			    }
			    @media only screen and (max-width: $max-width-1600) {
			        font-size:20px;
			    }
			    @media only screen and (max-width: $max-width-lg) {
			        font-size: 18px;
			    }
			    @media only screen and (max-width: $max-width-sm) {
			        font-size: 16px;
			    }
			    @media only screen and (max-width: $max-width-mob) {
			        font-size: 16px;
			    }
			    @media only screen and (max-width: $max-width-small-mob) {
			        font-size: 14px;
			    }
			}
		}
	}
	@media only screen and (max-width: $max-width-mob) {
        .product-specs-box__img{padding-right: 0;padding-bottom: 40px;}
        .product-specs-box__info{
        	img{max-height: 25px;}
        }
    }
    @media only screen and (max-width: $max-width-small-mob) {
       
    }
}
.what-in-the-box{
	position: relative;
	margin: 80px 0;
	background-image: linear-gradient(to top, #eef1f5, #e6e9f0);
	padding: 80px 0;
	.big__heading{
		font-size: 160px;letter-spacing: 12.26px;
		margin-bottom: 50px;
		@media only screen and (max-width: $max-width-1600) {
	        font-size:90px;
	        letter-spacing:10px;
	        margin-bottom: 30px;
	    }
	    @media only screen and (max-width: $max-width-lg) {
	        font-size: 70px;
	        letter-spacing: 8px;
	        margin-bottom: 20px;
	    }
	    @media only screen and (max-width: $max-width-sm) {
	        font-size: 50px;
	    }
	    @media only screen and (max-width: $max-width-mob) {
	        font-size: 40px;
	        letter-spacing: 6px;
	    }
	    @media only screen and (max-width: $max-width-small-mob) {
	        font-size: 30px;
	        letter-spacing: 4px;
	    }
	}
	.whatInTheBox-innerBox{
		.whatInTheBox-innerBox--inner{
		    background-color: #fff;
		    border-radius: 19.4px;
		    width: 100%;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    min-height: 200px;
    		img{max-height: 200px; margin: auto;position: relative;}
		}
		h4{
			font-size: 22.5px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: 2.25px;
			text-align: left;
			color: #101010;
			margin-top: 30px;text-align: center;
			@media only screen and (max-width: $max-width-1600) {
		        font-size:20px;
		        margin-top:20px;
		    }
		    @media only screen and (max-width: $max-width-lg) {
		        font-size: 18px;
		        margin-top: 15px;
		    }
		    @media only screen and (max-width: $max-width-sm) {
		        font-size: 16px;
		        margin-top: 10px;
		    }
		    @media only screen and (max-width: $max-width-mob) {
		        font-size: 16px;
		        margin-top: 5px;
		    }
		    @media only screen and (max-width: $max-width-small-mob) {
		        font-size: 14px;
		        margin-top: 5px;
		    }
		}
		:first-child{
			.whatInTheBox-innerBox--inner{
				img{top:-20px;}
			}
		}
		:nth-child(4){
			.whatInTheBox-innerBox--inner{
				img{bottom:-5px;}
			}
		}
		:nth-child(5){
			.whatInTheBox-innerBox--inner{
				img{top:-15px;}
			}
		}
		@media only screen and (max-width: $max-width-mob) {
			.col{margin: 20px 0;}
	       .whatInTheBox-innerBox--inner{
	       	img{max-height: 125px;}
	       	min-height: 150px;
	       } 
	    }
	    @media only screen and (max-width: $max-width-small-mob) {
	       .whatInTheBox-innerBox--inner{
	       	img{max-height: 80px;}
	       	min-height: 130px;
	       }
	    }
	}
}
.hororable-mentions{
	position: relative;
	.hororable-mentions--title{
	  font-size: 30px;
	  font-weight: bold;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.42;
	  letter-spacing: 3px;
	  text-align: left;
	  color: #2185f4;
	}
	.hororable-mentions--logoSec{
		.hororable-mentions--logoSec--img{
			position: relative;
			height: 70px;
			display: inline-block;
			img{max-height: 50px;}
		}
		a{
			color: #222;
		    font-size: 22px;
		    font-weight: bold;
		    letter-spacing: 2.35px;
		    text-decoration: underline;
		}
	}
	.hororable-mentions-full--btn{
		position: relative;margin: 80px 0;
		.goqii-btn-primary--blue{
			border-radius: 19.4px;
	    	border: solid 0.9px #2185f4;
	    	text-transform: none;
    		text-decoration: underline;
		}
	}
	@media only screen and (max-width: $max-width-1600) {
		padding: 50px 0;
		.hororable-mentions--title{font-size: 24px;}
		.hororable-mentions--logoSec{

			a{font-size: 18px;}
		}
		.hororable-mentions-full--btn{
			.goqii-btn-primary--blue{
					font-size: 18px;
			}
		}
	}
	@media only screen and (max-width: $max-width-mob) {
        padding: 0px 0;
        .hororable-mentions--title{font-size: 20px;margin-bottom: 20px;}
        .hororable-mentions--logoSec{
        	.hororable-mentions--logoSec--img{height: 40px;
        		img{max-height: 35px;}
        	}
        	margin-bottom: 30px;
        	
        	p{font-size:16px;margin-bottom: 0.5rem;}
			a{font-size: 14px;}
		}
		.hororable-mentions-full--btn{
			margin: 50px 0;
			.goqii-btn-primary--blue{
					font-size: 14px;letter-spacing: 0;
			}
		}
    }
    @media only screen and (max-width: $max-width-small-mob) {
    	.hororable-mentions--title{font-size: 18px;}
    	.hororable-mentions--logoSec{
        	p{font-size:14px;}
			a{font-size: 12px;}
		}
		.hororable-mentions-full--btn{
			margin: 30px 0;
			.goqii-btn-primary--blue{
					font-size: 12px;letter-spacing: 0;
			}
		}

    }
	
}